<h1 align=center style="line-height:200%;font-family:vazir;color:#0099cc">
<font face="vazir" color="#0099cc">
کنکلی
</font>
</h1>

<h2 align=right style="line-height:200%;font-family:vazir;color:#0099cc">
<font face="vazir" color="#0099cc">
مقدمه و صورت مسئله
</font>
</h2>

<p dir=rtl style="direction: rtl; text-align: justify; line-height:200%; font-family:vazir; font-size:medium">
<font face="vazir" size=3>
    در این تمرین قصد داریم پیش‌بینی کنیم آیا کاربران بلیط خود را کنسل می‌کنند یا نه. به ازای هر کنسلی، مستربلیط باید به شرکت مسافربری جریمه پرداخت کند! پس بلیط‌های    کنسلی به معنی تحمیل هزینه به شرکت است. از این رو تشخیص دادن بلیط‌هایی که احتمال کنسلی آنان وجود دارد، به مدیریت ریسک شرکت کمک بزرگی می‌کند. 
    <br>
    حال از داده‌هایی که در اختیارتان قرار گرفته است استفاده کنید و مدلی آموزش دهید که کنسل شدن یا نشدن سفر را تشخیص دهد.
</font>
</p>

<h2 align=right style="line-height:200%;font-family:vazir;color:#0099cc">
<font face="vazir" color="#0099cc">
وارد کردن کتابخانه‌های مورد نیاز
</font>
</h2>

<p dir=rtl style="direction: rtl; text-align: justify; line-height:200%; font-family:vazir; font-size:medium">
<font face="vazir" size=3>
    ابتدا کتابخانه‌های مورد نیازتان را وارد کنید.
</font>
</p>

In [1]:
import pandas as pd
import numpy as np

<h2 align=right style="line-height:200%;font-family:vazir;color:#0099cc">
<font face="vazir" color="#0099cc">
معرفی مجموعه داده
</font>
</h2>

<p dir=rtl style="direction: rtl; text-align: justify; line-height:200%; font-family:vazir; font-size:medium">
<font face="vazir" size=3>
مجموعه داده آموزشی شامل ۱۰۱۰۱۷ سطر است که در جدول زیر، توضیحات هر ستون آمده است.
</font>
</p>

<center>
<div dir=rtl style="direction: rtl;line-height:200%;font-family:vazir;font-size:medium">
<font face="vazir" size=3>
    
|ستون|توضیحات|
|:------:|:---:|
|Created|زمان ثبت بلیط|
|CancelTime|زمانی که مسافر بلیط را کنسل کرده است|
|DepartureTime|زمان حرکت|
|BillID|شناسه خرید|
|TicketID|شناسه بلیط|
|ReserveStatus|وضعیت پرداخت مشتری|
|UserID|شناسه کاربری|
|Male|آیا بلیط متعلق به زن است یا مرد|
|Price|قیمت بلیط بدون تخفیف|
|CouponDiscount|تخفیفی که شخص روی بلیط اعمال کرده است|
|From|مبدا سفر|
|To|مقصد سفر|
|Domestic|آیا سفر، داخلی است یا خارجی|
|VehicleType|جزئیات وسیله نقلیه را مشخص می‌کند|
|VehicleClass|آیا وسیله نقلیه، فرست‌کلس است یا نه|
|Vehicle|نوع وسیله نقلیه|
|HashPassportNumber_p|هش‌شده شماره پاسپورت|
|HashEmail|هش‌شده ایمیل|
|BuyerMobile|هش‌شده شماره موبایل|
|NationalCode|هش‌شده شماره‌ملی|
|TripReason|دلیل سفر|
|Cancel|آیا بلیط کنسل شده‌است یا نه|
    
</font>
</div>
</center>


<p dir=rtl style="direction: rtl; text-align: justify; line-height:200%; font-family:vazir; font-size:medium">
<font face="vazir" size=3>
    مجموعه داده آزمایش نیز مانند مجموعه آموزش است با این تفاوت که ستون <code>Cancel</code> که متغیر هدف مسئله است را در خود ندارد. مجموعه داده آزمایش ۴۳۲۹۳ سطر دارد.
</font>
</p>

<h2 align=right style="line-height:200%;font-family:vazir;color:#0099cc">
<font face="vazir" color="#0099cc">
خواندن مجموعه داده
</font>
</h2>

<p dir=rtl style="direction: rtl; text-align: justify; line-height:200%; font-family:vazir; font-size:medium">
<font face="vazir" size=3>
    در ابتدا نیاز است فایل‌های مجموعه‌داده را بخوانید. نمونه‌های آموزشی در فایل <code>train_data.csv</code> و نمونه‌های آزمون که باید دسته‌ی آن‌ها را پیش‌بینی کنید در فایل <code>test_data.csv</code> ذخیره شده‌اند. اگر لازم دانستید می‌توانید به دلخواه خود بخشی از مجموعه داده آموزشی را به عنوان مجموعه داده اعتبارسنجی نیز جدا کنید.
</font>
</p>

In [3]:
train_data = pd.read_csv('../data/train_data.csv')
train_data

,Created,CancelTime,DepartureTime,BillID,TicketID,ReserveStatus,UserID,Male,Price,CouponDiscount,...,Domestic,VehicleType,VehicleClass,TripReason,Vehicle,Cancel,HashPassportNumber_p,HashEmail,BuyerMobile,NationalCode
0,2022-07-26 13:33:20.457,NaN,2022-07-26 16:30:00,38428546,7445571.0,3,NaN,True,1180000.0,0.0,...,1,VIPمانیتوردار-شارژراختصاصی تخت شو مارال (جدید)...,True,Work,Bus,0,NaN,NaN,302222356019,330024570
1,2022-10-27 23:07:01.837,2022-10-27 23:26:39.070,2022-10-29 09:45:00,39768762,7762719.0,5,NaN,False,1050000.0,0.0,...,1,classicus 2+2,True,Int,Bus,1,NaN,NaN,900764168521,995520696
2,2022-09-12 11:01:13.607,NaN,2022-10-03 18:35:00,39128001,2327596.0,5,800398.0,False,4674000.0,0.0,...,1,فوکر 100,False,Int,Plane,0,NaN,1c44d7a76b52341fa12dcfa993138576befcc9ebf01d14...,749804783291,979382950
3,2022-08-08 17:43:35.840,NaN,2022-08-08 22:30:00,38606546,7495440.0,3,NaN,True,1200000.0,0.0,...,1,VIPدرسا+مانیتوردار+شارژراختصاصی+پذیرایی,True,Work,Bus,0,NaN,NaN,781396205677,911237229
4,2022-11-01 15:12:56.823,NaN,2022-11-03 11:30:00,39822185,2356902.0,5,NaN,True,6222000.0,0.0,...,1,NaN,False,Work,Plane,0,NaN,bb38b345aec02255e31d178492907175c5984f2a1f5b59...,524576220177,727496008
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
101012,2022-10-27 21:41:35.803,NaN,2022-11-05 20:15:00,39767774,3082282.0,2,NaN,False,7200000.0,0.0,...,1,5ستاره بيزينس سلامت فدك,NaN,Int,Train,0,NaN,NaN,395081863564,789320493
101013,2022-09-24 15:51:11.993,NaN,2022-10-21 09:15:00,39319207,3026516.0,2,151423.0,False,4292000.0,0.0,...,1,4ستاره4تخته سپهر,NaN,Int,Train,0,NaN,3f28ed65a16d629747e4d27fab100b2b082fcbdf7ec831...,130026405332,866503410
101014,2022-08-12 13:46:20.480,NaN,2022-08-12 23:59:00,38653461,7508988.0,3,NaN,True,1320000.0,0.0,...,1,VIP 2+1 / مانیتوردار / سیستم تهویه مطبوع / تخ...,True,Int,Bus,0,NaN,NaN,784949357488,881677039
101015,2022-06-20 15:15:37.780,NaN,2022-06-25 10:10:00,37880627,1057205.0,5,641744.0,True,13000000.0,0.0,...,1,NaN,False,Work,Plane,0,NaN,750690ca99468f159eff6ad928cec4339b089af8c2e6dc...,766602541733,403505466
101016,2022-07-25 00:25:14.170,NaN,2022-07-25 21:00:00,38408696,7439771.0,3,857274.0,True,2150000.0,0.0,...,1,MAN VIP 2+1,True,Work,Bus,0,NaN,NaN,899439800471,593217954

In [3]:
train_data.isna().sum()

Created                      0
CancelTime               85705
DepartureTime                0
BillID                       0
TicketID                     0
ReserveStatus                0
UserID                   58515
Male                         0
Price                        0
CouponDiscount               0
From                         0
To                           0
Domestic                     0
VehicleType               7678
VehicleClass             38351
TripReason                   0
Vehicle                      0
Cancel                       0
HashPassportNumber_p    100155
HashEmail                58002
BuyerMobile                  0
NationalCode                 0
dtype: int64

<h2 align=right style="line-height:200%;font-family:vazir;color:#0099cc">
<font face="vazir" color="#0099cc">
پیش‌پردازش و مهندسی ویژگی
</font>
</h2>

<p dir=rtl style="direction: rtl; text-align: justify; line-height:200%; font-family:vazir; font-size:medium">
<font face="vazir" size=3>
    در این سوال شما می‌توانید از هر تکنیک پیش‌پردازش/مهندسی ویژگی که در فصل‌های گذشته آموختید، استفاده کنید.
    <br>
    تکنیک‌هایی که استفاده می‌کنید به شکل مستقیم مورد ارزیابی توسط سامانه داوری قرار <b>نمی‌گیرند.</b> بلکه همه آن‌ها در دقت مدل شما تاثیر خواهند گذاشت؛ بنابراین هر چه پیش‌پردازش/مهندسی ویژگی بهتری انجام دهید تا دقت مدل بهبود پیدا کند، امتیاز بیشتری از این سوال کسب خواهید کرد.
</font>
</p>

In [4]:
y = train_data['Cancel']

# dropping some null columns
df = train_data.drop(['CancelTime', 'UserID', 'HashPassportNumber_p', 'HashPassportNumber_p', 'HashEmail', 'Cancel'], axis=1)

In [6]:
df.isna().sum()

Created               0
DepartureTime         0
BillID                0
TicketID              0
ReserveStatus         0
Male                  0
Price                 0
CouponDiscount        0
From                  0
To                    0
Domestic              0
VehicleType        7678
VehicleClass      38351
TripReason            0
Vehicle               0
BuyerMobile           0
NationalCode          0
dtype: int64

### now lets make a little model to fill null values

In [6]:
df.describe()

,BillID,TicketID,ReserveStatus,Price,CouponDiscount,Domestic,BuyerMobile,NationalCode
count,1.010170e+05,1.010170e+05,101017.000000,1.010170e+05,1.010170e+05,101017.000000,1.010170e+05,1.010170e+05
mean,3.832697e+07,4.933657e+06,3.163012,3.209691e+06,4.975680e+03,0.992100,5.036391e+11,1.429602e+14
std,1.098834e+06,2.411914e+06,1.077199,6.985928e+06,7.074863e+04,0.088529,2.877734e+11,9.691330e+15
min,3.591084e+07,1.015844e+06,2.000000,-1.514000e+06,0.000000e+00,0.000000,1.170136e+07,2.900000e+02
25%,3.743849e+07,2.848014e+06,2.000000,1.080000e+06,0.000000e+00,1.000000,2.573053e+11,2.505874e+08
50%,3.855474e+07,3.078420e+06,3.000000,1.690000e+06,0.000000e+00,1.000000,5.049426e+11,5.020345e+08
75%,3.931181e+07,7.431083e+06,4.000000,3.067000e+06,0.000000e+00,1.000000,7.508900e+11,7.503344e+08
max,3.984016e+07,7.782861e+06,5.000000,3.837646e+08,1.443333e+07,1.000000,9.999831e+11,9.790847e+17

In [7]:
df.head()

,Created,DepartureTime,BillID,TicketID,ReserveStatus,Male,Price,CouponDiscount,From,To,Domestic,VehicleType,VehicleClass,TripReason,Vehicle,BuyerMobile,NationalCode
0,2022-07-26 13:33:20.457,2022-07-26 16:30:00,38428546,7445571.0,3,True,1180000.0,0.0,شیراز,سیرجان,1,VIPمانیتوردار-شارژراختصاصی تخت شو مارال (جدید)...,True,Work,Bus,302222356019,330024570
1,2022-10-27 23:07:01.837,2022-10-29 09:45:00,39768762,7762719.0,5,False,1050000.0,0.0,قم,ساری,1,classicus 2+2,True,Int,Bus,900764168521,995520696
2,2022-09-12 11:01:13.607,2022-10-03 18:35:00,39128001,2327596.0,5,False,4674000.0,0.0,تهران,ارومیه,1,فوکر 100,False,Int,Plane,749804783291,979382950
3,2022-08-08 17:43:35.840,2022-08-08 22:30:00,38606546,7495440.0,3,True,1200000.0,0.0,تهران,ملایر,1,VIPدرسا+مانیتوردار+شارژراختصاصی+پذیرایی,True,Work,Bus,781396205677,911237229
4,2022-11-01 15:12:56.823,2022-11-03 11:30:00,39822185,2356902.0,5,True,6222000.0,0.0,چابهار,تهران,1,NaN,False,Work,Plane,524576220177,727496008

In [8]:
df = df.drop(['Male', 'BillID', 'TicketID', 'VehicleType', 'BuyerMobile', 'NationalCode'], axis=1)

In [10]:
df['month_created'] = df['Created'].apply(lambda x : x.split('-')[1])
df['month_departure'] = df['DepartureTime'].apply(lambda x : x.split('-')[1])

In [11]:
type(df["month_created"][0])

str

In [12]:
df.drop(['Created', 'DepartureTime'], axis=1, inplace=True)

In [16]:
df.drop(['From', 'To'], axis=1, inplace=True)

In [17]:
df.head()

,ReserveStatus,Price,CouponDiscount,Domestic,VehicleClass,TripReason,Vehicle,month_created,month_departure
0,3,1180000.0,0.0,1,True,Work,Bus,07,07
1,5,1050000.0,0.0,1,True,Int,Bus,10,10
2,5,4674000.0,0.0,1,False,Int,Plane,09,10
3,3,1200000.0,0.0,1,True,Work,Bus,08,08
4,5,6222000.0,0.0,1,False,Work,Plane,11,11

In [14]:
temp = pd.get_dummies(df)

In [15]:
temp

,ReserveStatus,Price,CouponDiscount,Domestic,From_آبادان,From_آباده,From_آبیک,From_آدانا,From_آزادور,From_آستارا,...,month_departure_03,month_departure_04,month_departure_05,month_departure_06,month_departure_07,month_departure_08,month_departure_09,month_departure_10,month_departure_11,month_departure_12
0,3,1180000.0,0.0,1,0,0,0,0,0,0,...,0,0,0,0,1,0,0,0,0,0
1,5,1050000.0,0.0,1,0,0,0,0,0,0,...,0,0,0,0,0,0,0,1,0,0
2,5,4674000.0,0.0,1,0,0,0,0,0,0,...,0,0,0,0,0,0,0,1,0,0
3,3,1200000.0,0.0,1,0,0,0,0,0,0,...,0,0,0,0,0,1,0,0,0,0
4,5,6222000.0,0.0,1,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,1,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
101012,2,7200000.0,0.0,1,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,1,0
101013,2,4292000.0,0.0,1,0,0,0,0,0,0,...,0,0,0,0,0,0,0,1,0,0
101014,3,1320000.0,0.0,1,0,0,0,0,0,0,...,0,0,0,0,0,1,0,0,0,0
101015,5,13000000.0,0.0,1,0,0,0,0,0,0,...,0,0,0,1,0,0,0,0,0,0
101016,3,2150000.0,0.0,1,0,0,0,0,0,0,...,0,0,0,0,1,0,0,0,0,0

In [16]:
from sklearn.model_selection import train_test_split

x_train, x_test, y_train, y_test = train_test_split(temp, y, test_size=0.25)

<h2 align=right style="line-height:200%;font-family:vazir;color:#0099cc">
<font face="vazir" color="#0099cc">
مدل‌سازی
</font>
</h2>

<p dir=rtl style="direction: rtl; text-align: justify; line-height:200%; font-family:vazir; font-size:medium">
<font face="vazir" size=3>
    حال که داده را پاکسازی کرده و احتمالا ویژگی‌هایی را به آن افزوده یا از آن حذف کرده‌اید، وقت آن است که مدلی آموزش دهید که بتواند متغیر هدف این مسئله را پیش‌بینی کند.
    <br>

</font>
</p>

# LR1

In [39]:
from sklearn.linear_model import LogisticRegression

lr1 = LogisticRegression()
lr1.fit(x_train, y_train)
pred_lr1 = lr1.predict(x_test)

In [44]:
from sklearn.metrics import classification_report

print(classification_report(pred_lr1, y_test))

              precision    recall  f1-score   support

           0       1.00      0.85      0.92     25251
           1       0.00      0.00      0.00         4

    accuracy                           0.85     25255
   macro avg       0.50      0.42      0.46     25255
weighted avg       1.00      0.85      0.92     25255

# LR2

In [42]:
lr2 = LogisticRegression()
lr2.fit(x_train, y_train)
pred_lr2 = lr2.predict(x_test)

In [43]:
from sklearn.metrics import classification_report

print(classification_report(pred_lr2, y_test))

              precision    recall  f1-score   support

           0       1.00      0.85      0.92     25251
           1       0.00      0.00      0.00         4

    accuracy                           0.85     25255
   macro avg       0.50      0.42      0.46     25255
weighted avg       1.00      0.85      0.92     25255

In [27]:
model.score(x_test, y_test)

0.8493763611166105

# RF1

In [46]:
from sklearn.ensemble import RandomForestClassifier

rf1 = RandomForestClassifier()
rf1.fit(x_train, y_train)
pred_rf1 = rf1.predict(x_test)

In [47]:
print(classification_report(pred_rf1, y_test))

              precision    recall  f1-score   support

           0       0.99      0.98      0.99     21642
           1       0.91      0.96      0.93      3613

    accuracy                           0.98     25255
   macro avg       0.95      0.97      0.96     25255
weighted avg       0.98      0.98      0.98     25255

In [48]:
rf1.score(x_test, y_test)

0.9803207285686003

# RF2

In [49]:
rf2 = RandomForestClassifier()
rf2.fit(x_train, y_train)
pred_rf2 = rf2.predict(x_test)

In [50]:
rf2.score(x_test, y_test)

0.9803207285686003

In [51]:
from sklearn.tree import DecisionTreeClassifier
dt = DecisionTreeClassifier()
dt.fit(x_train, y_train)

DecisionTreeClassifier()

In [52]:
dt.score(x_test, y_test)

0.9793308255790932

<h2 align=right style="line-height:200%;font-family:vazir;color:#0099cc">
<font face="vazir" color="#0099cc">
 پیش‌بینی برای داده تست و خروجی
</font>
</h2>

<p dir=rtl style="direction: rtl;text-align: right;line-height:200%;font-family:vazir;font-size:medium">
<font face="vazir" size=3>
    پس از مهندسی ویژگی و مدلسازی، الگوریتمی دارید که می‌تواند شما را از متغیرهای مستقل به متغیر هدف برساند.
    <br>
    از این مدل برای پیش‌بینی نمونه‌های موجود در داده تست استفاده کنید و نتایج را در قالب جدول (<code>dataframe</code>) زیر آماده کنید.
</font>
</p>

<div dir=rtl style="direction: rtl;text-align: right;line-height:200%;font-family:vazir;font-size:medium">
<font face="vazir" size=3>
    
|ستون|توضیحات|
|------|---|
|Cancel|آیا بلیط کنسل می‌شود یا نه|
    
</font>
</div>

In [53]:
print(classification_report(rf.predict(x_test), y_test))

              precision    recall  f1-score   support

           0       0.99      0.98      0.99     21630
           1       0.91      0.96      0.93      3625

    accuracy                           0.98     25255
   macro avg       0.95      0.97      0.96     25255
weighted avg       0.98      0.98      0.98     25255